<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../resources/css/main.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        Messages
      </div>
      <div class="main-container">
        <div id="messages">
        </div>
        <div id="options">
          <p><a id="preferences" href="#">Preferences</a></p>
          <p><a id="quit" href="#">Quit</a></p>
        </div>
      </div>
    </div>

    <script src='./main.js'></script>

  </body>
</html>
